profile#new page

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>


<%= form_with model: @profile, url: profiles_path, method: :post do |f| %>

	<h3>紹介文</h3>
		<div><%= f.text_area :introduction %></div>

	<h3>このさきやってみたいこと</h3>
		<div><%= f.text_area :future %></div>


	<h3>就業形態</h3>
		<%= f.select :employment_type, [ "社員" , "副業委託", "問わない" ] %>
	<br><br><br><br><br>	
	<div><%= f.submit "変更する", class:"btn btn-primary" %></div>
<% end %>