<%= render "layouts/error", obj: @profile %>


<h2>プロフィール新規登録</h2>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>


<%= form_with model: @profile, url: profiles_path, method: :post do |f| %>

	<br>
	<h3>紹介文</h3>
		<div><%= f.text_area :introduction, rows: 7, class: "form-text-area form-control js-text7"  %></div>
		<P class="js-text7-count pull-right"></P>

	<br>
	<h3>このさきやってみたいこと</h3>
		<div><%= f.text_area :future, rows: 7, class: "form-text-area form-control js-text8" %></div>
		<P class="js-text8-count pull-right"></P>

	<br>
	<h3>就業形態</h3>
		<%= f.select :employment_type, [ "engaging" , "contract", "both" ] %>
	<br><br>
	<div class="btn-center"><%= f.submit "登録する", class: "btn btn-primary" %></div>
<% end %>

<br><br>