<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>

<br>
<div class="secret-btn-right">
	<% if current_user == @profile.user %>
		<%= link_to edit_profile_path, data: {"turbolinks" => false} do %>
			<button class="btn btn-success btn-sm">
				プロフィールを変更する
			</button>
		<% end %>
	<% end %>
</div>

<div class="profile-flex">
	<div>
		<%= attachment_image_tag @profile.user, :image, :fill, 200, 200, fallback: "no_image_human.jpg", class:"img-circle" %>
	</div>&nbsp; &nbsp;
	<div>
		<h2><strong><%= @user.nic_name %></h2></strong> <br>
		<span class="label label-danger"><%= @user.address_prefecture_name %></span>
	</div>
</div>

<br>
<h3>紹介文</h3>
<div><%= simple_format(@profile.introduction) %></div>

<br>
<h3>このさきやってみたいこと</h3>
<div><%= simple_format(@profile.future) %></div>

<br>
<h3>就業形態</h3>
<div class="size-adjustment-box1">
	<% if @profile.both? %>
		<span class = "box1">社員</span>
		<span class = "box1">副業・委託</span>
	<% elsif @profile.contract? %>
		<span class = "box2">社員</span>
		<span class = "box1">副業・委託</span>
	<% else @profile.engaging? %>
		<span class = "box1">社員</span>
		<span class = "box2">副業・委託</span>
	<% end %>
</div>

<br>
<h3>基本情報</h3>
<div class="size-adjustment">
	<table class="row col-sm-12">
		<tr>
			<th class="subheading col-sm-2">生年月日</th>
				<td><% birthday_date = @user.birthday.to_date %>
			<%= birthday_date.strftime("%Y/%m/%d") %></td>
		</tr>
		<tr>
			<th class="subheading col-sm-2">性別</th>
			<td><%= @user.sex %></td>
		</tr>
	</table>
</div>
<br><br><br><br>