talk_room # show page

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>


<% @talks.each do | talk | %>
  <% if talk.user_id = current_user.id %>
   <!-- write on left block ? -->
    <div><%= talk.body %></div>
  <% else %>
  <!-- write on right block -->
    <div><%= talk.body %></div>
  <% end %>
<% end %>

<!-- メッセージ入力フォーム -->
<%= form_with url: talk_room_talks_path(@talk_room.id), local: true, method: :post do |f| %>
	<div><%= f.text_area :body %></div>
	<div><%= f.submit "送信する", class:"btn btn-success" %></div>
	<%= f.hidden_field :company_id, :value => @company_id %>
<% end %>