<%= render "layouts/error", obj: @work %>

<h2>募集内容登録</h2>

<%= form_with model: [@company, @work] ,data: {remote: false} do |f| %>
	<br>
	<h3>タイトル</h3>
	<p>（検索結果トップに表示されます）</p>
	<div><%= f.text_area :title, class: "form-text-title form-control" , rows: 1 %></div>
		 <div class="field">

	<br>
	<h3>紹介文</h3>
	<p>（検索結果トップに表示されます）</p>
		<div><%= f.text_area :introduction, class: "form-text-area form-control js-text5", rows: 6 %></div>
		<P class="js-text5-count pull-right"></P>

	<br>
	<h3>募集要項 詳細</h3>
		<div><%= f.text_area :job_details, class: "form-text-area form-control js-text5", rows: 15 %></div>
		<P class="js-text5-count pull-right"></P>

	<br>
	<div class="field">
	  	<%= f.label "画像" %><br />
	    <%= attachment_image_tag @work, :image, :fill, 250, 250, fallback: "no_image_white.png", size:'60x60' %>
	  	<%= f.attachment_field :image %>
	</div>

	<br>	
	<div><%= f.submit "登録する", class:"btn btn-warning" %></div>
<% end %>
<br><br>