<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>

<h2><strong><%= @work.title %></strong></h2>
<div>
	<table>
		<tr>
			<td><%= link_to company_path(@work.company.id) do %>
					<%= attachment_image_tag @work.company, :image, :fill, 100, 100, fallback: "no_image_white.png", size:'50x50', class:"img-circle" %>
				<% end %>
			</td>
		    <td><%= link_to company_path(@work.company.id) do %>
			    	<%= @work.company.name %>
		    	<% end %>
		    </td>
	</table>
</div>

<br>
<div><%= attachment_image_tag @work, :image, :fill, 978, 398 %></div>


<br>
<div>
	<h3><strong><%= "#{@work.company.name}のメンバー" %></strong></h3>
	<% if @members.blank? == false %>
		<div class="right-link">
			<%= link_to "ほかのメンバーもみる ＞＞", member_list_company_path(@company) %>
		</div>
		<div class="company-member-flex row col-sm-12">		
			<% @members.each do |member| %>
				<div class="col-sm-2">
					<%= link_to profile_path(member.profile) do %>
						<%= attachment_image_tag member, :image, :fill, 100, 100, fallback: "no_image_human.jpeg", size:'100x100', class:"img-circle" %> <br />
						<p><%= member.nic_name %></p>
					<% end %>
				</div>
			<% end %>
		</div>
	<% else %>
	<p>現在メンバー登録はありません</p>
	<% end %>
</div>

<br>
<div class="row col-sm-12">
	<h3><strong>事業内容</strong></h3>

	<% if user_signed_in? %>
		<% if current_user.belongs_to?(@company) %>
			<div class="secret-btn-right"><%= link_to "会社の紹介文を編集する", information_company_path(@company.id), class: "btn btn-warning  btn-sm", data: {"turbolinks" => false} %></div>
			<br>
		<% end %>
	<% end %>

	<div class="company-flex">
		<div class="image_left"><%= attachment_image_tag @work.company, :i_image1, :fill, 469, 250, class: "img-rounded" %></div>
		<div><%= attachment_image_tag @work.company, :i_image2, :fill, 469, 250, class: "img-rounded" %></div>
	</div>

	<p><%= simple_format(@work.company.introduction) %></p>
</div>

<br>
<div class="row col-sm-12">
	<h3><strong>今後の展望</strong></h3>

	<div class="company-flex">
		<div class="image_left"><%= attachment_image_tag @work.company, :f_image1, :fill, 469, 250, class: "img-rounded" %></div>
		<div><%= attachment_image_tag @work.company, :f_image2, :fill, 469, 250, class: "img-rounded" %></div>
	</div>

	<p><%= simple_format(@work.company.future) %></p>
</div>

<br>
<div class="row col-sm-12">
	<h3><strong>募集内容</strong></h3>

	
		<% if user_signed_in? %>
			<% if current_user.belongs_to?(@company) %>
				<div class="work-btn-flex">
					<div class="work-btn-margin"><%= link_to "募集内容を編集する", edit_company_work_path(@company.id, @work.id), class: "btn btn-warning  btn-sm", data: {"turbolinks" => false} %>
					</div><br>

					<% if @work.is_active == 1 %>
						<div class="work-btn-margin">
							<%= form_with model: @work, url: hide_company_work_path(@company, @work), method: :put do |f| %>

									<%= f.hidden_field :is_active, value: false  %>
									<%= f.submit "募集を停止する", class: "btn btn-warning btn-sm" %>	
							<% end %>
						</div>
					<% else %>
						<div class="work-btn-margin">
							<%= form_with model: @work, url: reopen_company_work_path(@company, @work), method: :put do |f| %>

									<%= f.hidden_field :is_active, value: true  %>
									<%= f.submit "募集を再開する", class: "btn btn-warning btn-sm" %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<br>
	<div><%= simple_format(@work.job_details) %></div>
</div>

<br>
<div class="row col-sm-12">
	<% if user_signed_in? %>
		<% if current_user.belongs_to?(@belongs_company) %>
		　　<p></p>	
		<% else %>			
			<% if TalkRoom.find_by(company_id: @work.company, user_id: current_user.id).present? %>
				<div class="btn-center">
					<%= link_to "メッセージを送る", talk_room_path(@talk_room), class: "btn btn-danger btn-lg" %>
				</div>
			<% else %>
				<div class="btn-center">
					<%= form_with(url: talk_rooms_path, method: :post) do |f| %>
						<%= f.hidden_field :company_id, :value => @company.id %>
						<%= f.hidden_field :user_id, :value => current_user.id %>
						<%= f.submit "メッセージを送る", class: "btn btn-success btn-lg" %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to "ログインしてシゴトの詳細を聞く", user_session_path , class: "btn btn-success  btn-sm" %>
	<% end %>
	<br>
<br>
</div>
<br>
<br>