<h2>ユーザー一覧</h2>
<table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th>フリガナ</th>
			<th>表示名</th>
			<th>性別</th>
			<th>生年月日</th>
			<th></th>
			<th>電話</th>
			<th>メール</th>
			<th>権限タイプ</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.name_kana %></td>
				<td><%= user.nic_name %></td>
				<td><%= user.sex %></td>
				<td>
					<% birthday = user.birthday %>
					<% birthday_date = birthday.to_date %>
					<%= birthday_date.strftime("%Y/%m/%d") %>
				</td>
				<td>
					<% birthday2 = birthday.to_i %>
					<% day = Date.today %>
					<% day.to_date %>
					<% day2 = day.strftime("%Y%m%d").to_i %>
					<%= age = (day2 - birthday2) / 10000 %>
				</td>
				<td><%= user.phone_number %></td>
				<td><%= user.email %></td>
				<td><% if user.permissions != "admin" %>
						<% if user.permissions == "company_rep" %>
							<%= form_with(model:user ,url: not_approval_user_path(user.id), method: :put) do |f| %>
									<%= f.submit "企業担当者", class: "btn btn-primary  btn-sm" %>
							<% end %>
						<% else %>
							<%= form_with(model:user ,url: approval_user_path(user.id), method: :put) do |f| %>
									<%= f.submit "一般", class: "btn btn-default  btn-sm" %>
							<% end %>
						<% end %>
					<% else %>
						<span>管理者</span>
					<% end %>
				</td>		
			</tr>
		<% end %>
	</tbody>
</table>

<div class="btn-center">
	<%= link_to user_path(current_user.id) do %>
	<button class="btn btn-primary">マイページに戻る</button>
	<% end %>
</div>
