<!-- エラー、サクセスメッセージ -->
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>
<!-- エラー、サクセスメッセージ -->

<h3>基本登録情報</h3>	
<div>
	<% if current_user.permissions == "管理者" %>
		<%= link_to users_path do %>
			<button class="btn btn-warning">
				ユーザー一覧へ
			</button>
		<% end %>
	<% end %>
</div>

<!-- ここまで１４日実装分-->

管理者のみ表示
<div>
	<% if current_user.permissions == "管理者" %>
		<%= link_to new_company_path do %>
			<button class="btn btn-warning">
				会社情報の登録をする
			</button>
		<% end %>
	<% end %>
</div>

<div>
	<% if current_user.permissions == "企業担当者" %>
		<%= link_to edit_company_path do %>
			<button class="btn btn-warning">
				会社情報の編集をする
			</button>
		<% end %>
	<% end %>
</div>

企業担当者のみ表示
<div>
	<% if current_user.permissions == "企業担当者" %>
		<%= link_to new_work_path do %>
			<button class="btn btn-warning">
				新規のシゴトを登録する
			</button>
		<% end %>
	<% end %>
</div>

企業担当者のみ表示
<div>
	<% if current_user.permissions == "企業担当者" %>
		<%= link_to edit_work_path do %>
			<button class="btn btn-warning">
				掲載中のシゴトを編集する
			</button>
		<% end %>
	<% end %>
</div>

ログイン済み全ユーザー対象
<div>
	<%= link_to companies_path do %>
		<button class="btn btn-warning">
			企業情報一覧を見る
		</button>
	<% end %>
</div>

ログイン済み全ユーザー表示
<div>
	<%= link_to works_path do %>
		<button class="btn btn-warning">
			シゴト一覧を見る
		</button>
	<% end %>
</div>

ログイン済み全ユーザー表示
<div>
	<% if current_user.company_members.exists? %>
		<p>マイカンパニー</p>
		<%= link_to users_path do %>
			<button class="btn btn-warning">
				マイカンパニーを見る
			</button>
		<% end %>
	<% end %>
</div>


<!-- ここまで１４日実装分-->

<div>
	<%= link_to edit_user_path do %>
		<button class="btn btn-warning">基本登録情報を変更する</button>
	<% end %>
</div>
<div>
	<%= link_to edit_user_registration_path do %>
		<button class="btn btn-success">パスワードの変更はこちら</button>
	<% end %>
</div>
<div>
	<% if current_user.profile.blank? %>
		<%= link_to new_profile_path do %>
			<button class="btn btn-success">プロフィールを登録する</button>
		<% end %>
	<% else %>
		<%= link_to edit_profile_path do %>
			<button class="btn btn-success">プロフィールを編集する</button>
		<% end %>
	<% end %>
</div>

<table>
	<tr>
		<th>写真</th>
		<td><%= attachment_image_tag @user, :image, :fill, 150, 150, fallback: "no_image_human.jpg" %></td>
	</tr>
	<tr>
		<th>名前</th>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td><%= @user.name_kana %></td>
	</tr>
	<tr>
		<th>性別</th>
		<td><%= @user.sex %></td>
	</tr>
	<tr>
		<th>誕生日</th>
		<td><%= @user.birthday %></td>
	</tr>
	<tr>
		<th>メール</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td>
			<%= "〒" + @user.zip_code %> <br />
			<%= @user.address_prefecture_name + @user.address_city + @user.address_line1 + @user.address_line2 %>
		</td>
	</tr>
	<tr>
		<th>電話</th>
		<td><%= @user.phone_number %></td>
	</tr>
	<tr>
		<th>パスワード</th>
		<td><%= "*************" %></td>
	</tr>
</table>

<br />
<%= link_to hide_users_path do %>
	<button class="btn btn-success">退会する</button>
<% end %>