<!-- エラー、サクセスメッセージ -->
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>
<!-- エラー、サクセスメッセージ -->

<h3>基本登録情報</h3>	

管理者のみ表示
<% if current_user.permissions == "管理者" %>
	<div>
		<%= link_to users_path do %>
			<button class="btn btn-primary">
				ユーザー一覧へ
			</button>
		<% end %>
	</div>
	<div>
		<%= link_to new_company_path do %>
			<button class="btn btn-primary">
				会社情報を登録をする
			</button>
		<% end %>
	</div>
<% end %>


ログイン済み全ユーザー表示
<div>
	<%= link_to companies_path do %>
		<button class="btn btn-warning">
			企業一覧をみる
		</button>
	<% end %>
</div>
<div>
	<%= link_to recruitments_path do %>
		<button class="btn btn-warning">
			シゴト一覧をみる
		</button>
	<% end %>
</div>
<div>
	<% if current_user.company_members.exists? %>
		<h3>マイカンパニー</h3>
		<% @companies.each do |company| %>
			<table>
				<tr>
					<td>
						<%= link_to company_path(company.id) do %>
							<%= attachment_image_tag company, :image, :fill, 40, 40, fallback: "no_image_white.png", size:'40x40' %>
						<% end %>
					</td>
					<td><%= link_to company_path(company.id) do %>
							<%= company.name %>
						<% end %>
					</td>
				</tr>
			</table>
		<% end %>
	<% end %>
</div>
<div>
	<%= link_to edit_user_path(current_user.id) do %>
		<button class="btn btn-success">基本登録情報を変更する</button>
	<% end %>
</div>
<div>
	<%= link_to edit_user_registration_path(current_user.id) do %>
		<button class="btn btn-success">パスワードの変更はこちら</button>
	<% end %>
</div>
<div>
	<% if current_user.profile.blank? %>
		<%= link_to new_profile_path do %>
			<button class="btn btn-success">プロフィールを登録する</button>
		<% end %>
	<% else %>
		<%= link_to edit_profile_path(current_user.profile.id) do %>
			<button class="btn btn-success">プロフィールを編集する</button>
		<% end %>
	<% end %>
</div>

<table>
	<tr>
		<th>写真</th>
		<td><%= attachment_image_tag @user, :image, :fill, 150, 150, fallback: "no_image_human.jpg", size:'150x150' %></td>
	</tr>
	<tr>
		<th>名前</th>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td><%= @user.name_kana %></td>
	</tr>
	<tr>
		<th>表示名</th>
		<td><%= @user.nic_name %></td>
	</tr>
	<tr>
		<th>性別</th>
		<td><%= @user.sex %></td>
	</tr>
	<tr>
		<th>誕生日</th>
		<td><%= @user.birthday %></td>
	</tr>
	<tr>
		<th>メール</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td>
			<%= "〒" + @user.zip_code %> <br />
			<%= @user.address_prefecture_name + @user.address_city + @user.address_line1 + @user.address_line2 %>
		</td>
	</tr>
	<tr>
		<th>電話</th>
		<td><%= @user.phone_number %></td>
	</tr>
	<tr>
		<th>パスワード</th>
		<td><%= "*************" %></td>
	</tr>
</table>

<br />
<%= link_to hide_user_path do %>
	<button class="btn btn-success">退会する</button>
<% end %>