top page
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>

<div>トップ画像</div>

<div>トップメッセージ</div>


<%= link_to new_user_registration_path do %>
	<button>会員登録する</button>
<% end %>

<%= link_to user_session_path do %>
	<button>ログイン</button>
<% end %>

<% @works.each do |work| %>
<table>
	<tr>
		<td></td>
		<td><%= attachment_image_tag work.company, :image, :fill, 60, 60, fallback: "no_image_white.png", size:'60x60' %> <br />
			<%=work.company.name %></td>
		<td><%=work.introduction %></td>
	</tr>
</table>
<% end %>

