companies # edit page

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>


<h2>会社登録情報編集</h2>

<%= form_with model: @company, method: :patch do |f| %>

  <div class="field">
    <%= f.label "会社名" %>
    <span class = "mandatory">&nbsp;<必須></span><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <span class = explanation>&nbsp; &nbsp;略称なし  入力例:'(株)'→'株式会社'と入力</span>
  </div>

  <div class="field">
    <%= f.label "フリガナ" %>
    <span class = "mandatory">&nbsp;<必須></span><br />
    <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana" %>
    <span class = explanation>&nbsp; &nbsp;全角カタカナ</span>
  </div>

  <div class="field">
    <%= f.label "代表電話" %>
    <span  class = "mandatory">&nbsp;<必須></span><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "nic_name" %>
  </div>

  <div class="field">
    <%= f.label "創立年月" %><br />
    <%= f.text_field :establishment, autofocus: true %>
    <span class = "explanation" >&nbsp; &nbsp;' / 'なし<br>入力例:' 199006 '</span>
  </div>

  <div class="field">
    <%= f.label "url" %><br />
    <%= f.text_field :url, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "メール" %>
    <span class = "mandatory">&nbsp;<必須></span><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "郵便番号" %><br />
    <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code" %>
    <span class = explanation>&nbsp; &nbsp;' - 'なし  入力例:' 1010001 '</span>
  </div>

  <div class="field">
    <%= f.label "住所（都道府県）" %>
    <span class = "mandatory">&nbsp;<必須></span><br />
    <%= f.text_field :address_prefecture, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "住所（市区郡町村）" %><br />
    <%= f.text_field :address_city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "住所（町名 番地）" %><br />
    <%= f.text_field :address_line1, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "住所（建物名 階層 号室）" %><br />
    <%= f.text_field :address_line2, autofocus: true %>
  </div>

  <div class="field">
  	<%= f.label "会社ロゴ画像" %><br />
	<%= attachment_image_tag @company, :image, :fill, 150, 150, fallback: "no_image_white.png", size:'150x150' %>
  	<%= f.attachment_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>
