
<div>
<h2><strong><%= "#{@company.name}のメンバー" %></strong></h2>
	<% if @users.blank? == false %>

		<div class="company-member-flex row col-sm-12">		
			<% @users.each do |user| %>
				<div class="col-sm-2">
					<% if Profile.where(user_id: user).blank? %>
						<%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image_human.jpeg", size:'100x100', class:"img-circle" %> <br />
						<p><%= user.nic_name %></p>
					<% else %>
						<%= link_to profile_path(user.profile) do %>
							<%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image_human.jpeg", size:'100x100', class:"img-circle" %> <br />
							<p><%= user.nic_name %></p>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% else %>
	<p>現在メンバー登録はありません</p>
	<% end %>
</div>

<br><br>