<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>

<br>	
<% if user_signed_in? %>
	<% if @company_member.present? %>	
		<div class="secret-btn-right">	
			<%= form_with(url: company_members_path, method: :delete) do |f| %>
					<%= f.submit "マイカンパニー登録を解除する", class: "btn btn-success btn-sm" %>
					<%= f.hidden_field :company_id, :value => @company.id %>
			<% end %>
		</div>
	<% elsif current_user.company_members.any? %>
		<div class="secret-btn-right">	
			<%= form_with(url: company_members_path, method: :post) do |f| %>
					<%= f.submit "他の会社でマイカンパニー登録しています", class: "btn btn-success btn-sm", disabled:"disabled" %>
					<%= f.hidden_field :company_id, :value => @company.id %>
			<% end %>
		</div>
	<% else %>
		<div class="secret-btn-right">
			<%= form_with(url: company_members_path, method: :post) do |f| %>
					<%= f.submit "マイカンパニー登録をする", class: "btn btn-default btn-sm" %>
					<%= f.hidden_field :company_id, :value => @company.id %>
			<% end %>
		</div>
	<% end %>
<% end %>

<!-- 会社情報トップ画（できれば画面幅いっぱいに表示させたい） -->
<br>
<div class="company-flex row" >
	<div class="col-sm-1.5">
		<%= attachment_image_tag @company, :image, :fill, 90, 90, fallback: "no_image_white.png", size:'90x90', class:"img-circle" %></td>
	</div>
	<div>
		<table>
			<tr>
				<td><h3><strong><%= @company.name %></strong></h3></td>			
				<% if @company_member.present? %>
					<td>&nbsp;&nbsp;<span class="label label-danger">マイカンパニー</td>
				<% end %>
			</tr>
			<tr>
				<td><%= @company.address_prefecture %></td>
				<td></td>
			</tr>
		</table>
	</div>

</div>
	
<!-- 会社情報トップ画（できれば画面幅いっぱいに表示させたい） -->


<!-- インフォメーション（PR）部分 -->
<br>
<% if user_signed_in? %>
	<% if current_user.belongs_to?(@company) %>
		<div><%= link_to "新規の募集をする", new_company_work_path(@company.id), class: "btn btn-warning  btn-sm", data: {"turbolinks" => false} %>	
			<%= link_to "トークルームを確認する", talk_rooms_path, class: "btn btn-warning  btn-sm" %>
		</div>
		<div class="secret-btn-right"><%= link_to "会社の紹介文を編集する", information_company_path(@company.id), class: "btn btn-warning  btn-sm", data: {"turbolinks" => false} %></div>
		<br>
	<% end %>
<% end %>
<div>
	<h3><strong>企業紹介</strong></h3>
	<div class="company-flex">
		<div class="image_left"><%= attachment_image_tag @company, :i_image1, :fill, 469, 250, class: "img-rounded" %></div>
		<div><%= attachment_image_tag @company, :i_image2, :fill, 469, 250, class: "img-rounded" %></div>
	</div>

	<br>
	<div><%= simple_format(@company.introduction) %></div>
</div>

<br>
<div>
	<h3><strong>今後の展望</strong></h3>
	<div class="company-flex">
		<div class="image_left"><%= attachment_image_tag @company, :f_image1, :fill, 469, 250, class: "img-rounded" %></div>
		<div><%= attachment_image_tag @company, :f_image2, :fill, 469, 250, class: "img-rounded" %></div>
	</div>

	<br>
	<div><%=simple_format(@company.future) %></div>
</div>

<!-- インフォメーション（PR）部分 -->
<br>
<div>
	<% if user_signed_in? %>
		<% if current_user.permissions == "管理者" || current_user.permissions == "企業担当者" && current_user.company_members.find_by(company_id: @company.id) %>
			<div>
				<%= link_to information_company_path(@company.id) do %>
					<button class="btn btn-warning btn-sm">会社紹介ページを編集する</button>
				<% end %>
			</div>
			<div>
				<%= link_to talk_rooms_path(company_id: @company.id) do %>
					<button class="btn btn-warning btn-sm">トークルームを確認する</button>
				<% end %>
			</div>
			<div>
				<%= link_to new_company_work_path(@company.id), method: :get, class: "btn btn-warning btn-sm" do %>
				  シゴトの新規登録をする
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>

<div>
	<h4 class="subheading"><strong><%= "メンバー" %></strong></h4>
	<div class="right-link">
		<%= link_to "ほかのメンバーもみる ＞＞", member_list_company_path(@company) %>
	</div>
	<br>
	<div class="company-member-flex row col-sm-12">
		<% @members.each do |member| %>
			<div class="col-sm-2">
				<%= link_to profile_path(member.id) do %>
					<%= attachment_image_tag member, :image, :fill, 100, 100, fallback: "no_image_human.jpeg", size:'100x100', class:"img-circle" %> <br />
					<p><%= member.nic_name %></p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>


<div class="btn-center">
	<%= link_to company_works_path(@company.id) do %>
		<button class="btn btn-success">
			この会社の募集一覧をみる
		</button>
	<% end %>
</div>

<div>
	<h4 class="subheading"><strong>会社情報</strong></h4>
	<div>
	<%= attachment_image_tag @company, :image, :fill, 60, 60, fallback: "no_image_white.png", size:'60x60', class:"img-circle" %>&nbsp;&nbsp;<%= @company.name %></div>
	<table>
		<tr><td><%= @company.establishment[0..3]+ "/" %><%= @company.establishment[4..5]+ " 創立" %></td></tr>
		<tr><td><%= @company.url %></td></tr>
		<tr>
			<td>
				<%= "〒" + @company.zip_code[0..2] %><%= "-" + @company.zip_code[3..6] %> <br />
				<%= @company.address_prefecture + @company.address_city + @company.address_line1 + @company.address_line2 %>
			</td>
		</tr>
	</table>
</div>

<br />
<div>
	<%= link_to "ほかの会社を探す", companies_path, method: :get, class:"btn btn-success btn-sm" %>
</div>

<div class="company-flex">
	<% if user_signed_in? %>		
		<% if current_user.admin? %>
			<div>
				<%= link_to edit_company_path do %>
					<button class="btn btn-primary btn-sm company-btns">会社の基本情報を変更する</button>
				<% end %>
			</div>

			<% if @company.is_active == 1 %>
				<div>
					<%= form_with model: @company, url: hide_company_path(@company), method: :put do |f| %>

							<%= f.hidden_field :is_active, value: false  %>
							<%= f.submit "停止する", class: "btn btn-primary btn-sm company-btns" %>	
					<% end %>
				</div>
			<% else %>
				<div>
					<%= form_with model: @company, url: reopen_company_path(@company), method: :put do |f| %>

							<%= f.hidden_field :is_active, value: true  %>
							<%= f.submit "再開する", class: "btn btn-primary btn-sm company-btns" %>
					<% end %>
				</div>
			<% end %>	
		<% end %>
	<% end %>
	<br><br>
	<br><br>
</div>